html , body {
	height: 100% ;
	margin: 0 ;
}
* {
	font-family: "DefaultGothic-BGauge" ;
	font-size: 16px ;
}
a {
	color: #6ba5d0 ;
}
.both {
	clear: both ;
}
.page-header-1-nav {
	float: right ;
}
.page-header-1-logo {
	padding: 2px ;
	line-height: 75px ;
	font-size: 30px ;
	float: left ;
}
.page-header-1-logo-1 {
	font-weight: bold ;
	float: left ;
}
.page-header-1-logo-2 {
	display: block ;
	font-weight: bold ;
	float: left ;
	height: 75px ;
	width: 75px ;
	background-repeat: no-repeat ;
	background-position: center center ;
	background-size: contain ;
	background-image: url( "../i/logo.gif" ) ;
	text-align: center ;
	text-indent: -4px ;
}
.page-header-1-nav ul {
	list-style-type: none ;
}
.page-header-1-nav ul li {
	float: left ;
	padding: 8.5px 20px ;
}
.page-header-1-nav ul li a {
	text-decoration: none ;
}
.page-header-1-nav ul li.page-header-1-nav-selected {
	background-color: #d5d5d5 ;
}
.page-header-1-nav ul li.page-header-1-nav-selected a {
	color: #000000 ;
}
.page-header-2 {
	width: 100% ;
	height: 167px ;
	background-repeat: repeat-x ;
	background-image: url( "../i/l1.gif" ) ;
}
.page-header-3 {
	width: 100% ;
	height: 162px ;
	background-repeat: repeat-x ;
	background-image: url( "../i/l2.gif" ) ;
	margin-top: -1px ;
}
.page-header-1 ,
.page-overlay {
	margin: 0 auto ;
	width: 1082px ;
}
.page-header-2-3 {
	max-width: 1082px ;
	width: 100% ;
	height: 10.7px ;
	border: 0 ;
	padding: 0 ;
	margin: 1px auto 0 ;
	border-collapse: collapse ;
}
.page-header-2-3-1 ,
.page-header-2-3-2 ,
.page-header-2-3-3 {
	height: 100% ;
	font-size: 0 ;
	margin: 0 ;
	padding: 0 ;
}
.page-header-2-3-1 {
	background-repeat: no-repeat ;
	background-image: url( "../i/l3l.gif" ) ;
	background-position: right 1px ;
	width: 245.4px ;
}
.page-header-2-3-3 {
	background-repeat: no-repeat ;
	background-image: url( "../i/l3r.gif" ) ;
	background-position: left 1px ;
	width: 245.4px ;
}
.page-header-2-3-2 {
	background-repeat: repeat-x ;
	background-image: url( "../i/l3m.gif" ) ;
	background-position: center 1px ;
}
.page-header-2 {
	text-align: center ;
}
.page-header-2 span {
	line-height: 167px ;
	font-size: 43px ;
	color: #ffffff ;
}
.page-body {
	width: 100% ;
	border-collapse: collapse ;
	margin: 0 ;
	padding: 0 ;
}
.page-right {
	width: 348px ;
}
.page-left ,
.page-right {
	vertical-align: top ;
	padding: 38px 0 ;
}
.page-left > p {
	margin-top: 0 ;
}
.page-left blockquote {
	text-align: center ;
	font-weight: bold ;
}
.page-left-footer {
	text-align: center ;
	margin: 0 44px ;
	padding: 29px 50px ;
	color: #ffffff ;
	background-color: #4e97c9 ;
}
.page-left-footer ,
.page-left-footer > * {
	font-size: 18px ;
	line-height: 36px ;
}
.page-left-footer-phone {
	color: #ffffff ;
	background-image: url( "../i/p1.gif" ) ;
	background-repeat: repeat-x ;
	padding: 8.5px 21px ;
	border: 1px #437c8e solid ;
	border-radius: 5px ;
}
.page-left-footer-phone span {
	font-size: 16px ;
}
.page-right-header {
	font-weight: bold ;
	text-transform: uppercase ;
	text-align: center ;
	color: #468ec4 ;
}
.page-right-header-pic {
	background-repeat: no-repeat ;
	background-position: center center ;
	background-image: url( "../i/r1.gif" ) ;
	height: 24.5px ;
	width: 100% ;
}
.page-right-form {
	margin: 0 0 40px ;
}
.page-right-form label {
	display: block ;
	margin: 5px 0 ;
}
.page-right-form input ,
.page-right-form textarea {
	width: 100% ;
	border: 2px #c4c4c4 solid ;
	border-radius: 2px ;
}
.page-right-form textarea {
	height: 96.5px ;
}
.page-right-testimonial-author {
	color: #000000 ;
	font-weight: bold ;
}
.page-right-testimonial-company {
	color: #000000 ;
}
.page-right-form-submit-overlay {
	text-align: right ;
}
.page-right-form .page-right-form-submit {
	background-repeat: repeat-x ;
	background-image: url( "../i/l5.gif" ) ;
	background-position: center center ;
	padding: 9px 20px ;
	color: #ffffff ;
	border: 2px #000000 outset ;
	height: 38px ;
	width: auto ;
	text-transform: uppercase ;
}
.page-right-testimonial > blockquote {
	margin: 0 ;
	padding: 5px 0 0 40px ;
	background-repeat: no-repeat ;
	background-position: top left ;
	background-image: url( "../i/quote.gif" ) ;
}
.page-header-2-3-menu {
	max-width: 1082px ;
	width: 100% ;
	margin: 0 auto ;
	text-align: center ;
	margin-top: -40px ;
}
.page-header-2-3-menu-1 ,
.page-header-2-3-menu-2 ,
.page-header-2-3-menu-3 {
	width: 33% ;
	height: 176px ;
	text-align: center ;
}
.page-header-2-3-menu-1 a ,
.page-header-2-3-menu-2 a ,
.page-header-2-3-menu-3 a {
	color: #000000 ;
	text-decoration: none ;
}
.page-header-2-3-menu-1-pic ,
.page-header-2-3-menu-2-pic ,
.page-header-2-3-menu-3-pic {
	display: block ;
	background-position: center top ;
	background-repeat: no-repeat ;
	background-size: 42% auto ;
	width: 100% ;
	height: 100% ;
	padding-top: 45%;
}
.page-header-2-3-menu-1-pic {
	background-image: url( "../i/b1.gif" ) ;
}
.page-header-2-3-menu-2-pic {
	background-image: url( "../i/b2.gif" ) ;
}
.page-header-2-3-menu-3-pic {
	background-image: url( "../i/b3.gif" ) ;
}
.page-footer {
	background-repeat: repeat-x ;
	background-image: url( "../i/footer.gif" ) ;
	height: 132px ;
	width: 100% ;
}
.page-footer-shares {
	list-style-type: none ;
}
.page-footer-shares li {
	float: left ;
}
.page-footer-shares li a {
	float: left ;
}
.page-footer-menu {
	list-style-type: none ;
}
.page-footer-menu li {
	float: left ;
	padding: 2px 3px ;
	margin: 20px 2px ;
}
.page-footer-menu-selected {
	background-color: #f4f4f4 ;
}
.page-footer-shares {
	height: 45px ;
	background-repeat: no-repeat ;
	background-position: center center ;
	background-size: contain ;
}
.page-footer-shares-fb ,
.page-footer-shares-tw ,
.page-footer-shares-in {
	float: left ;
}
.page-footer-shares-fb {
	background-image: url( "../i/s1.gif" ) ;
}
.page-footer-shares-tw {
	background-image: url( "../i/s2.gif" ) ;
}
.page-footer-shares-in {
	background-image: url( "../i/s3.gif" ) ;
}
.page-footer-copyrights {
	float: right;
	margin-top: 20px;
}
.page-right-form {
	margin: 0 auto 40px;
	width: 250px;
}