<!DOCTYPE html>

<html>
	<head>
		<title>Задание 2</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/font.css" type="text/css">
		<link rel="stylesheet" href="css/style.css" type="text/css">
	</head>
	<body>
		<div class="page-header-1">
			<nav class="page-header-1-nav">
				<ul>
					<li class="page-header-1-nav-selected">
						<a href="#Home">Home</a>
					</li>
					<li>
						<a href="#Services">Services</a>
					</li>
					<li>
						<a href="#Company">Company</a>
					</li>
					<li>
						<a href="#Careers">Careers</a>
					</li>
					<li>
						<a href="#Contact%20Us">Contact Us</a>
					</li>
				</ul>
				<div class="both"></div>
			</nav>
			<div class="page-header-1-logo">
				<span class="page-header-1-logo-1">DOT</span>
				<span class="page-header-1-logo-2">44</span>
				<span class="page-header-1-logo-3">SOFTWARE STUDIO</span>
			</div>
			<div class="both"></div>
		</div>
		<div class="page-header-2">
			<span>Europian Mobile Application Development Company</span>
		</div>
		<div class="page-header-3">
			<table class="page-header-2-3">
				<tr>
					<td class="page-header-2-3-1">&nbsp;</td>
					<td class="page-header-2-3-2">&nbsp;</td>
					<td class="page-header-2-3-3">&nbsp;</td>
				</tr>
			</table>
			<table class="page-header-2-3-menu">
				<tr>
					<td class="page-header-2-3-menu-1">
						<a href="#Business%20Apps" class="page-header-2-3-menu-1-pic">
							<span>Business Apps</span>
						</a>
					</td>
					<td class="page-header-2-3-menu-2">
						<a href="#Entertainment%20Apps" class="page-header-2-3-menu-2-pic">
							<span>Entertainment Apps</span>
						</a>
					</td>
					<td class="page-header-2-3-menu-3">
						<a href="#Gaming%20Apps" class="page-header-2-3-menu-3-pic">
							<span>Gaming Apps</span>
						</a>
					</td>
				</tr>
			</table>
		</div>
		<div class="page-overlay">
			<table class="page-body">
				<tr>
					<td class="page-left">
						<p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.
						<p>Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem.

						<blockquote>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse</blockquote>

						<p>At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.

						<div class="page-left-footer">
							Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, <span class="page-left-footer-phone"><span>+371</span> 2 9153367</span> quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est, repellendus.
						</div>
					</td>
					<td class="page-right">
						<div class="page-right-header">
							<span>REQUEST FOR QUOTE</span>
							<div class="page-right-header-pic"></div>
						</div>
						<form class="page-right-form">
							<label>
								<span>Your Name</span>:
								<input type="text" required name="name">
							</label>
							<label>
								<span>E-mail</span>:
								<input type="email" required name="email">
							</label>
							<label>
								<span>Message</span>:
								<textarea required name="message"></textarea>
							</label>
							<div class="page-right-form-submit-overlay">
								<input type="submit" class="page-right-form-submit" value="send">
							</div>
						</form>
						<div class="page-right-header">
							<span>CLIENT TESTIMONIALS</span>
							<div class="page-right-header-pic"></div>
						</div>
						<form class="page-right-form">
							<div class="page-right-testimonial">
								<div class="page-right-testimonial-author">Jeff Richards</div>
								<div class="page-right-testimonial-company">YellowPages Company</div>
								<blockquote>Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit</blockquote>
							</div>
							<div class="page-right-form-submit-overlay">
								<input type="submit" class="page-right-form-submit" value="learn more">
							</div>
						</form>
					</td>
				</tr>
			</table>
		</div>
		<div class="page-footer">
			<div class="page-footer-copyrights">
				Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit
			</div>
			<ul class="page-footer-menu">
				<li class="page-footer-menu-selected"><a href="#Home">Home</a>
				<li><a href="#Services">Services</a>
				<li><a href="#Company">Company</a>
				<li><a href="#Careers">Careers</a>
				<li><a href="#Contact%20Us">Contact Us</a>
				<li class="both"></li>
			</ul>
			<div class="page-footer-shares">
				<div>
					<a href="#fb" class="page-footer-shares page-footer-shares-fb"></a>
				</div>
				<div>
					<a href="#tw" class="page-footer-shares page-footer-shares-tw"></a>
				</div>
				<div>
					<a href="#in" class="page-footer-shares page-footer-shares-in"></a>
				</div>
			</div>
			<div class="both"></div>
		</div>
	</body>
</html>